<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
  Hello <%= current_user.id %>
<% else %>
  Not signed in
<% end %>

<br />

<%= link_to 'Sign up', sign_up_path %><br />
<%= link_to 'Sign in', sign_in_path %><br />
<%= link_to 'Sign out', sign_out_path, method: :delete %><br />

<% Auther.providers.each do |provider| %>
  <%= link_to "Sign in with #{provider}", auther_oauth_path(provider) %>
<% end %>

<br />

<%= yield %>

</body>
</html>
